html {
  background-color: #fdfdfc;
}

body {
  width: 99%;
  box-sizing: border-box;
}

h1 {
  font-family: Monoton;
  font-weight: normal;
  font-size: 40px;
}

h2,
h3,
h4 {
  font-family: Nova Mono;
}

p,
label,
button,
#carttotal,
nav a,
footer {
  font-family: Nova Mono;
}

#root {
  width: 65vw;
  margin: 20px auto 0px auto;
  padding: 50px 50px 10px 50px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

footer a {
  color: black;
}

footer a:hover {
  color: #e99644;
}

footer a:visited {
  color: #744b22;
}

footer a:visited:hover {
  color: #e99644;
}

h1 a {
  text-decoration: none;
  color: black;
}

h1 a:visited {
  color: black;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  align-items: center;
  padding-left: 0px;
}

nav ul li {
  min-width: 100px;
  text-decoration: none;
  font-size: 25px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:visited {
  color: black;
}

nav ul li:hover {
  text-decoration: underline overline grey 1px;
}

.main {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  min-height: 68vh;
  justify-content: flex-start;
}

.main h1 {
  font-family: Nova Mono;
  text-align: center;
}

.main table {
  width: 80%;
  margin: 20px auto;
}

#suppliers {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
  margin: auto;
}
#suppliers img {
  max-width: 100%;
}

#supplierssection {
  width: 100%;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px dotted grey;
}

.la-shopping-cart {
  font-size: 30px;
  vertical-align: middle;
}

.shoppingcarticon {
  margin-left: auto;
  font-size: 20px;
}

.shoppingcarticon span {
  vertical-align: middle;
}

.shoppingcarticon:hover {
  text-decoration: none;
}

#itemnumber {
  display: inline-block;
  border-radius: 20px;
  width: 30px;
  text-align: center;
  background-color: #e99644;
  color: white;
}

.stock {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-left: 0px;
  /* max-width: 1010px; */
}

.stock img {
  max-width: 100%;
}

.inputquantity {
  width: 50px;
  font-size: 16px;
}

input:focus {
  outline: dotted 2px #e99644;
}

.productDesc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  line-height: 2;
}

.productDesc form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.productDesc button,
.deletebutton button {
  text-align: center;
  height: 27px;
  color: black;
}

.deletebutton button {
  padding: 1px 2px;
}

.price {
  text-align: right;
  padding-right: 10px;
}

.thumbnailProduct {
  max-width: 150px;
  padding: 10px;
}

.displayProductDesc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.displayProductDesc span {
  flex-shrink: 0;
}

#slogan {
  text-align: center;
  color: grey;
}

.logo {
  width: 150px;
  display: block;
  margin: auto;
}

.shopSupplierThumbnail {
  margin: 0 auto;
  display: block;
  width: 250px;
  border-radius: 50px;
}

.suppliershelf {
  margin-top: 40px;
  border-bottom: 1px dotted lightgrey;
}

#hotrightnow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

#hotrightnow div {
  width: 80%;
}

#hotrightnow div img {
  width: 100%;
}

#hotrightnow p {
  text-align: right;
}

#hotrightnowdiv {
  margin-top: 20px;
}

#headertitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#socialmedia {
  display: inline-block;
  font-size: 30px;
}

#socialmedia a {
  color: black;
}

#socialmedia a:visited {
  color: black;
}

#socialmedia a:hover {
  color: #e99644;
}

.deletebutton {
  text-align: left;
}

.total {
  font-weight: bolder;
  line-height: 3;
  font-size: 20px;
}

.total > td {
  padding-left: 15px;
}

table {
  border-collapse: collapse;
  font-family: arial;
}

table > thead > tr > th {
  text-align: left;
  padding-left: 15px;
}

table > thead > tr {
  border-bottom: none;
}

table tr {
  border-bottom: 1px dotted lightgrey;
}

table > tfoot > tr {
  border-bottom: none;
}

#empty {
  text-align: center;
}

button,
input[type="submit"] {
  background: #fdfdfc;
  outline: none;
  box-shadow: none;
  border: solid 1px grey;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px grey;
}

#contact {
  width: 80%;
  margin: 20px auto;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 40px auto;
  padding: 50px 20px;
  border: solid 1px grey;
  width: 45%;
}

#contact form label {
  width: 350px;
  line-height: 2;
  margin: auto;
  font-size: 20px;
}

#contact form input {
  width: 350px;
  height: 30px;
}

#contact form input[type="submit"] {
  width: 200px;
  margin: 20px auto 0px auto;
  font-family: Nova Mono;
  font-size: 16px;
}

#messagereceived {
  width: 45%;
  margin: 40px auto;
  font-size: 16px;
  border: solid 1px grey;
  padding: 30px 30px;
}

#checkout {
  text-align: center;
  margin-bottom: 15px;
}
#checkout button {
  padding: 10px 20px;
}

.la-cart-plus,
.la-trash-alt {
  font-size: 18px;
  color: black;
  vertical-align: middle;
  text-align: center;
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  #root {
    width: 85vw;
  }
  .main table {
    width: 95%;
  }
  #contact {
    width: 95%;
  }
  #contact form {
    width: 70%;
  }
  #top {
    position: sticky;
    top: 0px;
    background: #fdfdfc;
  }
}

@media screen and (max-width: 699px) {
  #root {
    width: 93vw;
    margin: 2vw;
    padding: 0;
  }
  #headertitle div {
    flex-shrink: 0;
  }
  nav ul li {
    font-size: 22px;
    min-width: 75px;
  }
  #suppliers {
    grid-template-columns: 1fr 1fr;
  }
  #hotrightnow {
    width: 100%;
    flex-direction: column;
  }
  .shopSupplierThumbnail {
    width: 150px;
  }
  .suppliershelf {
    margin-top: 40px;
  }
  .stock {
    grid-template-columns: 1fr;
  }
  #dreamyyarn {
    margin-top: 20px;
  }
  .main table {
    width: 100%;
  }
  #contact {
    width: 95%;
  }
  #contact form {
    width: 80%;
  }
  #contact form label {
    width: 150px;
    margin: 0;
  }

  #contact form input[type="email"],
  #contact form input[type="text"],
  #contact form input[type="textarea"] {
    width: 280px;
  }
  .thumbnailProduct {
    max-width: 55px;
  }
  .main h1 {
    font-size: 30px;
  }
  .la-shopping-cart {
    font-size: 25px;
  }
  .shoppingcarticon {
    font-size: 18px;
  }
  #itemnumber {
    width: 25px;
  }
  #top {
    position: sticky;
    top: 0px;
    background: #fdfdfc;
  }
}
