body {
  width: 80vw;
  margin: auto;
  box-sizing: border-box;
}

h1 a {
  text-decoration: none;
  color: black;
}

h1 a:visited {
  color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

nav ul li {
  width: 100px;
  text-decoration: none;
  font-size: 18px;
}

nav {
  /* margin: auto; */
}

.main {
  width: 75vw;
  margin: auto;
}

#suppliers {
  display: grid;
  width: 900px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
  margin: auto;
}

#supplierssection {
  width: 900px;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
}

.la-shopping-cart {
  font-size: 30px;
}

.stock {
  width: 1000px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  justify-content: center;
}

.stock img {
  width: 400px;
}

.inputquantity {
  width: 50px;
}

.productDesc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
